@mixin FlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin FlexCenterColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}